<div class="jumbotron">
  <h1 class="display-4"><strong><%= t('welcome') %>!</strong></h1>
  <p class="lead"><%= t('welcome_description') %>.</p>
  <hr class="my-4">
  <p><%= t('welcome_msg') %>:</p>
  <%= render 'menu_principal' %>
</div>