<div class="container-fluid">
    <h1><%= t('New') + " #{MiningType.model_name.human}" %></h1>
    
    <%= render 'form', mining_type: @mining_type %>
    
    <%= link_to t('links.back'), mining_types_path, class:"btn btn-outline-primary" %>
</div>